<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Issue Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <header>
      <h1>Issue Tracker</h1>
    </header>
    <main>
      <div id="main-project-container">
        <div id="current-project-container">
          <span id="current-project-span">
            Current Project:
          </span>
          <span id="project-name-span">
          </span>
        </div>
        <div id="project-input-container">
            <input id="project-name-input" type="text" name="project-name" placeholder="New Project" required>
            <button id="create-project-btn">Create</button>
        </div>
        <div id="project-select-container">
          <select id="select-project" name="select-project">
            <option value="" disabled selected>Select a project</option>
          </select>
          <button id="select-project-btn">Select</button>
        </div>
      </div>
      <div id="main-container">
        <form id="form-submit">
          <fieldset>
            <legend>Submit Issue:</legend>
            <div class="input-container">
              <label for="title-submit">Title:</label>
              <input type="text" id="title-submit" name="name" required>
            </div>
            <div class="input-container">  
              <label for="text-submit">Text:</label>
              <input type="text" id="text-submit" name="text" required>
            </div>
            <div class="input-container">  
              <label for="created-by-submit">Created by:</label>
              <input type="text" id="created-by-submit" name="created-by" required>
            </div>
            <div class="input-container">  
              <label for="assigned-to">Assigned to:</label>
              <input type="text" id="assigned-to-submit" name="assigned-to">
            </div>
            <div class="input-container">
              <label for="status-text">Status:</label>
              <input type="text" id="status-text-submit" name="status">
            </div>  
          </fieldset>
          <button id="submit-btn" type="submit">Submit</button>
        </form>       
        <form id="form-update">
          <fieldset>
            <legend>Update Issue:</legend>
            <div class="input-container">
              <label for="_id-update"><strong>_id to update:</strong></label>
              <input type="text" id="_id-update" required>
            </div>
            <div class="input-container">
              <label for="title">Title:</label>
              <input type="text" id="title-update" name="name">
            </div> 
            <div class="input-container"> 
              <label for="text">Text:</label>
              <input type="text" id="text-update" name="text">
            </div>  
            <div class="input-container">
              <label for="created-by">Created by:</label>
              <input type="text" id="created-by-update" name="created-by">
            </div>
            <div class="input-container">  
              <label for="assigned-to">Assigned to:</label>
              <input type="text" id="assigned-to-update" name="assigned-to">
            </div>  
            <div class="input-container">
              <label for="status-text">Status:</label>
              <input type="text" id="status-text-update" name="status">
            </div>
          </fieldset>
          <button id="update-btn" type="submit">Update</button>
        </form>
        <form id="form-find">
          <fieldset>
            <legend>Find Issue:</legend>
            <div class="input-container">  
              <label for="_id-find">_id:</label>
              <input type="text" id="_id-find">
            </div>
            <div class="input-container">  
              <label for="title-find">Title:</label>
              <input type="text" id="title-find" name="name">
            </div>
            <div class="input-container">  
              <label for="text-find">Text:</label>
              <input type="text" id="text-find" name="text">
            </div>
            <div class="input-container">  
              <label for="created-by-find">Created by:</label>
              <input type="text" id="created-by-find" name="created-by">
            </div>
            <div class="input-container">  
              <label for="assigned-to-find">Assigned to:</label>
              <input type="text" id="assigned-to-find" name="assigned-to">
            </div>
            <div class="input-container">  
              <label for="status-text-find">Status:</label>
              <input type="text" id="status-text-find" name="status">
            </div>
            <div class="input-container">  
              <label for="created-on-find">Created on:</label>
              <input type="text" id="created-on-find" name="created-on">
            </div>
            <div class="input-container">  
              <label for="updated-on-find">Updated on:</label>
              <input type="text" id="updated-on-find" name="updated-on">
            </div>
          </fieldset>
          <button id="find-btn" type="submit">Find</button>
        </form>  
      </div>
      <div id="results-container">
        Results:
      </div>
      <div id="delete-issue-container">
        <label for="delete-issue-input">Delete Issue:</label>
        <input id="delete-issue-input" type="text" placeholder="Enter issue _id">
        <button id="delete-issue-btn" type="submit">Delete</button>
      </div>
    </main>
    <script src="/public/script.js"></script>
    <footer>
    </footer>
  </body>
</html>
