<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h1>Issue Tracker</h1>
    </header>
    <main>
      <form>
        <fielset>
          <legend>Find / Submit Issue:</legend>
          <label for="title">Title:</label>
          <input type="text" id="title" name="name" required>
          <label for="text">Text:</label>
          <input type="text" id="text" name="text" required>
          <label for="created-by">Created by:</label>
          <input type="text" id="created-by" name="created-by" required>
          <label for="assigned-to">Assigned to:</label>
          <input type="text" id="assigned-to" name="assigned-to">
          <label for="status">Status:</label>
          <input type="text" id="status" name="status">
        </fieldset>
        <button id="submit-btn">Submit</button>
        <button id="find-btn">Find</button>
      </form>
    </main>
    <script src="../public/script.js"></script>
    <footer>
    </footer>
  </body>
</html>
