* {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: #63F74F;
}

h1 {
  text-align: center;
  padding-top: 100px;
  padding-top: 75px;
  padding-bottom: 75px
}

#project-input-container {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}


#main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px
}

label {
  margin-bottom: 10px;
  margin-top: 10px
}

legend {
  font-size: 20px;
  color: white;
}

button {
  font-size: 20px;
  color: white;
  margin-top: 20px
}